@import url('https://fonts.googleapis.com/css?family=K2D:500i');
@import url('https://fonts.googleapis.com/css?family=Kodchasan:400i');
body{
	margin:0;
	/*background: #25201F;*/
  background: black;
  /*background: #ffffff;*/
	font-family: 'K2D', sans-serif;
	font-weight: 550;
}
.bar{
	overflow:hidden;
	background:#25272b;
	width:1920px;
	height:45px;
}
.logo{
	float:left;
	height:50px;
	width:190px;
}
.namelogo{
display:block;
height:40px;
bottom:0%;
width:40px;
float:right;
margin-right:20px;
position: relative;
}
.powered{
overflow:hidden;
float:right;
display: block;
background:#25272b;
color:#ffffff;
margin-right:15px;
bottom:20%;
position: relative;
font-family: 'Kodchasan', sans-serif;
font-weight: 1000;
font-size:15pt;
}

nav {
  float: left;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  transform: skew(-20deg);
  height: 60px;
  width: 120px;
  text-align: center;
  padding-top: 10px;
  position: relative;
}
nav li a{
  display: inline-block;
  transform: skew(20deg);
}
.options{
  height: 5px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}
nav li:hover{
  background-color: white;
  text-align: center;
  transition: ease 500ms;
}
nav li:hover .skew-fix{
  display:inline-block;
  color: #3a3f47;
}
nav li:hover #homebutton{
  content: url(images/bluehome.png);
}
/*.options::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #09eadc;
  position: absolute;
  bottom: -25%;
  width: 0%;
  transition: all ease-in-out 250ms; 
}
.options:hover::before {
  width: 100%;
}*/

.heading{
  transition: all 250ms;
  color: white;
  text-align: center;
  font-family: 'K2D', sans-serif;
  font-size:30px;
}
h2{
  color:white;
  margin-top: -30px;
}
h3{
  text-align: left;
  font-size: 30px;
}


.shoeoptions{
  margin-top: 130px;
  margin-left: 200px;
  height: 200px;
  width: 365px;
  border-radius: 15px;
  transition:all 250ms;
  opacity: 0.5;
}

#adidaslogo:hover{
  transition: all 800ms ease-in-out;
  opacity: 1;
  content: url(images/adidaslogobl.jpg);
}

#nikelogo:hover{
  transition: all 800ms ease-in-out;
  opacity: 1;
  content: url(images/nikelogobl.png);
}

#underlogo:hover{
  transition: all 800ms ease-in-out;
  opacity: 1;
  content: url(images/underlogobl.png);
}

table{
  color:white;
  border:1px solid white;
  border-spacing: 0;
}

.orderbtn{
  background-color: white;
}
.orderbtn a{
  font-size: 20px;
  text-decoration: none;
  color:black;
  display:block;
  width:100%;
}
.orderbtn:hover{
  transition: all 800ms;
  background-color: purple;
}
.orderbtn:hover .ordernow{
  color: #09EADC;
}
